extends ../layout

block content

    div#qunit
    div#qunit-fixture

    script(src='/scripts/libs/qunit-2.0.1.js')
    script(src='/scripts/libs/angular-mocks.js')
    script(src='/scripts/tests/auth.spec.js')
    script(src='/scripts/tests/topic.spec.js')