extends layout

block content
  
  div
    h1= title
    p Welcome to users list page!
    div(ng-controller="UserCtrl")
      p There are currently {{users.length}} users in database!
  

  
    

 
