link(href='/css/bootstrap.css', rel='stylesheet')
script(src="/js/jquery.js")
script(src="/js/bootstrap.js")

block content
   
    form#formAddUser.container(name="adduser",method="post",action="/user/add", style="margin-top:200px")

        div.form-group
            label(for="username") Username
            input#inputUserName.form-control(type="text", placeholder="username", name="username", aria-describedby="usernameHelp")    
        
        div.form-group
            label(for="useremail") Email
            input#inputUserEmail.form-control(type="email", placeholder="Email", name="useremail", aria-describedby="emailHelp")    
            
        button#btnSubmit.btn.btn-primary(type="submit") submit


        
        

