/*@import url(http://fonts.googleapis.com/css?family=Roboto);*/


/**/

* {
  transition: 0.3s all ease;
}

body {
  padding-top: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  cursor: default;
}

a {
  color: #00B7FF;
}

ul {
  list-style: none;
  padding-left: 0;
}

.container>h2 {
  border-bottom: 1px solid #eee;
}

.middle {
  margin-top: 150px;
}

.grey {
  color: #999;
}


.topic-word {
  cursor: pointer;
  padding: 2px 0px;
  border-radius: 3px;
}

.topic-word:hover {
  background-color: #2196F3;
  color: #fff;
}

table.table {
  margin-bottom: 0px;
}

.table-image {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  margin-right: 10px;
  vertical-align: middle;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
  cursor: pointer;
}

.table-image img {
  max-width: 50px;
  max-height: 50px;
}

.form-image {
  display: inline-block;
  margin-bottom: 10px;
  width: 150px;
  height: 150px;
  line-height: 150px;
  vertical-align: middle;
  text-align: center;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, .1);
}

.form-image img {
  max-width: 150px;
  max-height: 150px;
  cursor: pointer;
}

.center {
  text-align: center;
}

text-right {
  text-align: right;
}

.training-block {
  display: inline-block;
  position: relative;
  width: 48%;
  height: 180px;
  padding: 12px;
  margin-bottom: 8px;
  margin-right: 8px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  border-radius: 4px;
  border: 1px solid #eee;
  transition: all .15s ease;
}

.table.table-vertical-centered td,
.table.table-vertical-centered>tbody>tr>td {
  vertical-align: middle;
}

tr.group-header {
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.1);
}

tr.group-header td {
  background-color: #eee;
}

th i.glyphicon {
    /*float: right;*/
    font-size: .8em;
    cursor: pointer;
}

.progresses {
  display: inline-block;
  background-image: url('../images/progresses.png');
  background-repeat: no-repeat;
  background-size: 80px;
  height: 40px;
  width: 40px;
}

.progresses.p1 {
  background-position-x: 0px;
  background-position-y: 0px;
}

.progresses.p2 {
  background-position-x: -40px;
  background-position-y: 0px;
}

.progresses.p3 {
  background-position-x: 0px;
  background-position-y: -40px;
}

.progresses.p4 {
  background-position-x: -40px;
  background-position-y: -40px;
}

.progresses-sm {
  background-size: 60px;
  height: 20px;
  width: 20px;
}

.progresses-sm.p1 {
  background-position-x: -5px;
  background-position-y: -5px;
}

.progresses-sm.p2 {
  background-position-x: -35px;
  background-position-y: -5px;
}

.progresses-sm.p3 {
  background-position-x: -5px;
  background-position-y: -35px;
}

.progresses-sm.p4 {
  background-position-x: -35px;
  background-position-y: -35px;
}

