body {
  padding-top: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  cursor: default;
}

a {
  color: #00B7FF;
}

ul {
  list-style: none;
  padding-left: 0;
}

.middle {
  margin-top: 150px;
}

.table-image {
  max-width: 50px;
  max-height: 50px;
}

.pic-bl {
  display: inline-block;
  width: 50px;
  height: 50px;
  vertical-align: top;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
  cursor: pointer;
}

.center {
  text-align: center;
}