extends ../layout

block content

    div.container(ng-controller="VocabularyCtrl")
        h2 Vocabulary
        p
            a(href="/vocabulary/create") Add vocabulary
        
        table.table.table-bordered
            thead.thead-inverse
                tr
                    th Name
                    th Image
                    th Actions

            tbody
                tr(ng-repeat="vocabulary in vocabularies")
                    input(type="hidden", name="vocabularyId")
                    td 
                        label {{vocabulary.name}}
                        input(style="display:none", value="{{vocabulary.name}}", name="name")
                    td 
                        image(ng-src="{{vocabulary.imageSrc}}")
                        form(method="post", action="{{toAddImageActionUrl(vocabulary)}}", enctype="multipart/form-data")
                            input(type="file", name="imageFile")
                            button(type="submit") Upload image
                    td 
                        a(href='/vocabulary/edit/{{vocabulary._id}}') edit
                        span &nbsp
                        a(href, ng-click='remove($event, vocabulary)') delete 